__pycache__/
*.log
*.bin
inference
hello
drawing
model_performance/models/
model_performance/model_layers.txt
yolov8/plates
yolov8/models
yolov8/datasets
yolov8/build/
yolov8/inference_hailo8
yolov8/hailo8_inference/inference_hailo8
yolov8/hailo8_inference
yolov8/evaluation_hailo8
